---
import Card from "../components/Card.astro";

import proj3 from "~/assets/images/project/proj3.png";
import proj4 from "~/assets/images/project/proj4.png";
import proj5 from "~/assets/images/project/proj5.png";
import img1 from "~/assets/images/project/sweden.png";
import methane from "~/assets/images/project/methane.png";

import video1 from "~/assets/videos/fluid.mp4";
import video2 from "~/assets/videos/comp1.mp4";
import video3 from "~/assets/videos/rally.mp4";
import video4 from "~/assets/videos/airmaps.mp4";
import video5 from "~/assets/videos/newBeginnings.mp4";
import video6 from "~/assets/videos/airdome.mp4";
import srh from "~/assets/videos/srh.mp4";
import srhM from "~/assets/vidbceos/srh-m.mp4";
import medico from "~/assets/videos/medico.mp4";

const { mdColCount, lgColCount } = Astro.props;
---

<div role="tablist" class="tabs tabs-lg tabs-lifted">
  <input
    type="radio"
    name="my_tabs_2"
    role="tab"
    class="tab"
    aria-label="Frontend "
    checked="checked"
  />

  <div
    role="tabpanel"
    class="tab-content bg-base-100 border-base-300 rounded-box p-6"
  >
    <div
      class={`grid grid-cols-1 ${mdColCount > 1 ? "md:grid-cols-2" : "md:grid-cols-1"} gap-12 ${lgColCount > 1 ? "lg:grid-cols-3" : "lg:grid-cols-1"} `}
    >
      <Card
        title="Cannabis Store Landing Page"
        video={video1}
        desc="Online canabis store landing page .The animation using pure html, css, javascript and webGL"
        url="https://fluid-sim.web.app"
        badge="NEW"
        tags={["html", "CSS", "JS", "Animation", "WebGl"]}
      />

      <Card
        title="SRH | Expert Strategies in Empirical Marketing and Media"
        video={srh}
        desc="A complete website for a marketing agency. This website is built using GSAP and Tailwind CSS. The website is fully responsive and has a lot of animations."
        url="https://srh-agency.web.app"
        badge="NEW"
        tags={["html", "CSS", "JS", "GSAP", "Tailwind"]}
      />

      <Card
        title="Medico | Medical one "
        video={medico}
        desc="A complete website for a medical insurace service. This website is built using GSAP and Tailwind CSS. The website is fully responsive and has a lot of animations."
        url="https://medical-one.web.app"
        badge="NEW"
        tags={["CSS", "JS", "GSAP", "Tailwind"]}
      />

      <Card
        title="Chicane Inc. Landing Page"
        video={video2}
        desc="The Computer one is a CPU case built by Teenage engineering. This here is my interpretation of how I would make a landing page If I were to seel this product."
        url="https://computer-one.web.app/"
        badge=""
        tags={["React", "Tailwind", "Next.js"]}
      />

      <Card
        title="Relaunch of our mission"
        video={video5}
        desc="A welcome restart for our mission"
        url="https://new-beginnings.web.app"
        badge=""
      />

      <Card
        title="ArcadeVr - Arcade Software for VR Game Management Software."
        video={video3}
        desc="Front-end  app for an Arcade VR setup. this app run's on a pc which connects to a vr headset. essential this is a font-end UI which helps user selects game while wearing VR headset"
        url="https://arcadevr.web.app"
        badge=""
      />

      <Card
        title="Corbett National Safari Experience Booking website"
        img={proj5}
        desc="A Complete Tour booking website for Corbett National Park Safari"
        url="https://shicane.web.app/"
        badge=""
      />
    </div>
  </div>

  <input
    type="radio"
    name="my_tabs_2"
    role="tab"
    class="tab"
    aria-label="FullStack"
  />
  <div
    role="tabpanel"
    class="tab-content bg-base-100 border-base-300 rounded-box p-6"
  >
    <div
      class={`grid grid-cols-1 ${mdColCount > 1 ? "md:grid-cols-2" : "md:grid-cols-1"} gap-12 ${lgColCount > 1 ? "lg:grid-cols-3" : "lg:grid-cols-1"} `}
    >
      <Card
        title="Airmaps - Google Maps Records Visualization"
        video={video4}
        desc="Airtable records visualization Using Custom Google maps. The maps data Gets updated everyday with the latest data from Airtable"
        url="https://travel.lbd.ventures"
        badge="NEW"
      />

     <Card
        title="Airdome - Visualize your 3d Building model in 3d Google Maps"
        video={video6}
        desc="Airdome lets you visualize your 3d Building models in google maps. just import your 3d buildings model and scale and place it where ever you like in the world"
        url="https://airdome.web.app/"
        badge="NEW"
      />

      <Card
        title="Itne Incorporated Business Dashboard"
        img={proj3}
        desc="A Custom Dashboard and saas work demo for Itne Inc. showcasing all Features that can be implemented on a fullstack app. From listing to creating to sending for approval to approving. "
        url="https://dynamic-table-xi.vercel.app/"
        badge="NEW"
      />

      <Card
        title="Dashboard Fresh Order - Build and Buy Custom Tshirts "
        img={proj4}
        desc="This was a landing page plus website i built for a Tshirt and clothing compnay. on this website you can customize and order your own custom design tshirts. This also includes a custom Tshirt Builder Built using konva."
        url="https://freshorder.web.app"
        badge=""
      />
    </div>
  </div>

  <input
    type="radio"
    name="my_tabs_2"
    role="tab"
    class="tab"
    aria-label="GIS"
  />
  <div
    role="tabpanel"
    class="tab-content bg-base-100 border-base-300 rounded-box p-6"
  >
    <div
      class={`grid grid-cols-1 ${mdColCount > 1 ? "md:grid-cols-2" : "md:grid-cols-1"} gap-12 ${lgColCount > 1 ? "lg:grid-cols-3" : "lg:grid-cols-1"} `}
    >
      <Card
        img={img1}
        title="Sweden Dog Parks"
        desc="see all the dog parks in a region of sweden. additionally search any area in on map to see the dog parks in that area"
        url="https://sweden-dog-parks.web.app"
      />

      <Card
        img={methane}
        title="Methane Risk Assessment"
        desc="A web app that helps you visualize the methane wells in united states and their risk assessment"
        url="https://sweden-dog-parks.web.app"
        url="https://methane-risk-mapping.web.app/"
      />
    </div>
  </div>

  <!-- <input
    type="radio"
    name="my_tabs_2"
    role="tab"
    class="tab"
    aria-label="Mobile"
  />
  <div
    role="tabpanel"
    class="tab-content bg-base-100 border-base-300 rounded-box p-6"
  >
  </div> -->

</div>
